@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Wel Come to The Falcon Mangement
    <div>
        <img src="~/Images/123.jpg" />
    </div>
</div>
